{
  "auth": {
    "token": "token-here",
    "mongoConnectionString" : "mongodb://127.0.0.1:27017/?gssapiServiceName=mongodb"
  }
  "guildID": "",
  "leaderboardChannelID": ""
  "roleChannelID": "",
  "roleMessageID": "",
}
